<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= recipe.errors.count %> Fehler verhindern das Speichern:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Titel", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author, "Autor", style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :description, "Beschreibung", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image, "Bild", style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit recipe.persisted? ? "Speichern" : "Neues Rezept erstellen" %>
  </div>
<% end %>
