<%= form_with(model: recipe, data: { controller: "render-response" }) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= recipe.errors.count %> Fehler verhindern das Speichern:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :title, "Titel", class: "col-form-label col-2"%>
    <div class="col">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :author, "Autor", class: "col-form-label col-2" %>
    <div class="col">
      <%= form.text_field :author, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :description, "Beschreibung", class: "col-form-label col-2" %>
    <div class="col">
      <%= form.text_area :description, class: "form-control col-auto" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :image, "Bild", class: "col-form-label col-2" %>
    <div class="col">
      <%= form.file_field :image, class: "form-control" %>
    </div>
  </div>

  <hr>
  <h5>Zutaten</h5>
  <div id="ingredients" class="mb-3">
    <%= render partial: "ingredient", collection: @recipe.ingredients %>
  </div>

  <div class="mb-3">
    <%= button_tag "Zutat hinzufügen", type: "button", class: "btn btn-secondary", data: { action: "render-response#getIngredientPartial" } %>
  </div>

  <div class="offset-2">
    <%= form.submit recipe.persisted? ? "Speichern" : "Neues Rezept erstellen", class: "btn btn-primary" %>
  </div>
<% end %>
