<div id="<%= dom_id recipe %>">
  <h3><%= recipe.title %></h3>

  <p>
    Eingetragen von <%= recipe.author %> am  <%= recipe.created_at.to_formatted_s(:long) %>
  </p>

  <p>
    <%= image_tag(url_for(recipe.image), size: "500x500") if recipe.image.attached? %>
  </p>

  <p>
    <%= recipe.description %>
  </p>

</div>
