<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Rezept bearbeiten", edit_recipe_path(@recipe) %> |
  <%= link_to "Zurück zur Übersicht", root_path %>

  <%= button_to "Rezept löschen", @recipe, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Bist du sicher?" } %>
</div>
